[submodule "third_party/centurion"]
	path = third_party/centurion
	url = https://github.com/albin-johansson/centurion.git
	branch = stable
[submodule "third_party/concurrentqueue"]
	path = third_party/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
[submodule "third_party/readerwriterqueue"]
	path = third_party/readerwriterqueue
	url = https://github.com/cameron314/readerwriterqueue.git
[submodule "third_party/incbin"]
	path = third_party/incbin
	url = https://github.com/graphitemaster/incbin.git
[submodule "third_party/xorstr"]
	path = third_party/xorstr
	url = https://github.com/JustasMasiulis/xorstr.git
[submodule "third_party/fiber"]
	path = third_party/fiber
	url = https://github.com/paladin-t/fiber.git
